@charset 'utf-8';
@import './reset.scss';
@import './base.scss';
@import './constant.scss';

.blind {
  position: absolute;
  top: 0;
  left: -99999px;
  text-indent: -99999px;
  overflow: hidden;
  opacity: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

body {
  font-family: $font-stack;
  font-size: $DEFAULT_FONT_SIZE * 1px;
  * {
    box-sizing: border-box;
  }
}

.loader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: $main-color;
  opacity: 0.9;
  z-index: 10;

  p {
    margin-top: 30px;
    text-align: center;
    font-size: 1.2em;
    color: #fff;
  }

  .loading:before{
    content: "";
    position: absolute;
    top: 0px;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    -webkit-animation: loadingLeft 3s ease-in-out infinite;
            animation: loadingLeft 3s ease-in-out infinite;
  }

  .loading{
      position: relative;
      width: 12px;
      height: 12px;
      border-radius: 12px;
      background-color: #fff;
  }


  .loading:after{
      content: "";
      position: absolute;
      top: 0px;
      height: 12px;
      width: 12px;
      border-radius: 12px;
      -webkit-animation: loadingRight 3s ease-in-out infinite;
              animation: loadingRight 3s ease-in-out infinite;
  }

  @-webkit-keyframes loadingLeft{
      0%{ left: -25px; background-color: rgba(255, 255, 255, .8); }
      50%{ left: 0px; background-color: rgba(255, 255, 255, .1);}
      100%{ left:-25px; background-color: rgba(255, 255, 255, .8); }
  }
  @keyframes loadingLeft{
      0%{ left: -25px; background-color: rgba(255, 255, 255, .8); }
      50%{ left: 0px; background-color: rgba(255, 255, 255, .1);}
      100%{ left:-25px; background-color: rgba(255, 255, 255, .8); }
  }


  @-webkit-keyframes loadingRight{
      0%{ left: 25px; background-color: rgba(255, 255, 255, .8); }
      50%{ left: 0px; background-color: rgba(255, 255, 255, .1);}
      100%{ left:25px; background-color: rgba(255, 255, 255, .8); }
  }
  @keyframes loadingRight{
      0%{ left: 25px; background-color: rgba(255, 255, 255, .8); }
      50%{ left: 0px; background-color: rgba(255, 255, 255, .1);}
      100%{ left:25px; background-color: rgba(255, 255, 255, .8); }
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $main-color;
  color: #fff;
  height: $HEADER_HEIGHT * 1px;
  font-size: 1.3em;
  padding: 0 20px;

  button {
    color: inherit;
  }
}

.container {
  display: flex;
  width: 100%;
  height: calc(100% - 40px);
  padding: 10px;
}

.column {
  min-width: 350px;
  width: 100% / $COLUMN_LENGTH;
  max-width: 400px;
  height: 100%;
  border: 1px solid $color-middle-blue-purple-opacity;
  border-radius: 5px;
  background: $color-rich-lavender-opacity;
  margin-right: 10px;
  padding: 0 10px 10px;
  overflow: auto;

  .column-top {
    width: 100%;
    min-height: 35px;

    .column-title {
      display: flex;
      position: relative;
      width: 100%;
      height: 35px;
      align-items: center;
      justify-content: space-between;
      font-weight: bold;

      .card-length {
        display: inline-block;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        border-radius: 50%;
        margin-right: 5px;
        background: hsl(220,3,82);
      }
    }

    .column-note {
      display: none;
      width: 100%;
      margin-top: 10px;

      textarea {
        width: 100%;
        border: 0;
        min-height: 40px;
      }
      .btn-wrap {
        display: flex;
        margin-top: 10px;

        button {
          width: 49%;
          height: 35px;
          font-weight: bold;
          border-radius: 3px;

          &.add-btn {
            margin-right: 2%;
            background: $add-button-color;
            border: 1px solid #6b62cf;
            color: #fff
          }

          &.cancel-btn {
            background: $cancel-button-color;
            border: 1px solid #ccc;
          }

          &.disable {
            opacity: 0.5;
          }
        }
      }
    }
  }

  .card {
    position: relative;
    width: 100%;
    min-height: 50px;
    background: #fff;
    border-radius: 3px;
    margin-top: 10px;
    padding: 10px 10px 10px 35px;
    cursor: move;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

    * {
      cursor: move;
    }

    .comment {
      font-size: 1.01em;
      line-height: 1.1
    }

    .user-name {
      display: block;
      margin-top: 20px;
      color: #999;

      a {
        color: #000;
        cursor: pointer;
      }
    }

    &::after {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 15px;
      height: 15px;
      background: url('../assets/images/note.png') no-repeat;
      background-size: 15px auto;
      content: "";
    }
  }

  .delete-btn, .content-add-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 0;
      width: 2px;
      height: 100%;
      transform: rotate(45deg);
      background: #000;
      content: "";
    }

    &::after {
      position: absolute;
      top: 0;
      width: 2px;
      height: 100%;
      transform: rotate(-45deg);
      background: #000;
      content: "";
    }
  }

  .content-add-btn {
    right: 0;
    transform: rotate(45deg);

    &:hover {
      &::before, &::after {
        background: $main-color;
      }
    }
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &::after {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

  > div {
    z-index: 11;
    position: relative;
    background: #fff;
    padding: 20px 40px;
    text-align: center;
  }

  .close-btn {
    width: 100%;
    padding: 5px;
    background: lavender;
    margin-top: 20px;
  }
}