@charset 'utf-8';
@import './reset.scss';
@import './base.scss';
@import './constant.scss';

.blind {
  position: absolute;
  top: 0;
  left: -99999px;
  text-indent: -99999px;
  overflow: hidden;
  opacity: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

body {
  font-family: $font-stack;
  font-size: $DEFAULT_FONT_SIZE * 1px;
  overflow-y: hidden;

  header, .container {
    display: none;
  }

  * {
    box-sizing: border-box;
  }
}

.login {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #46cdcf;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3em;
    margin: 1.5em 0 2.5em;
    font-weight: bold;
  }

  strong {
    font-size: 9.5em;
  }

  button.login-btn {
    padding: 15px 25px;
    background: #48466d;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    color: #fff;
  }
}

.loader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: $main-color;
  opacity: 0.9;
  z-index: 10;

  display: none;

  p {
    margin-top: 30px;
    text-align: center;
    font-size: 1.2em;
    color: #fff;
  }

  .loading:before{
    content: "";
    position: absolute;
    top: 0px;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    -webkit-animation: loadingLeft 3s ease-in-out infinite;
            animation: loadingLeft 3s ease-in-out infinite;
  }

  .loading{
      position: relative;
      width: 12px;
      height: 12px;
      border-radius: 12px;
      background-color: #fff;
  }


  .loading:after{
      content: "";
      position: absolute;
      top: 0px;
      height: 12px;
      width: 12px;
      border-radius: 12px;
      -webkit-animation: loadingRight 3s ease-in-out infinite;
              animation: loadingRight 3s ease-in-out infinite;
  }

  @-webkit-keyframes loadingLeft{
      0%{ left: -25px; background-color: rgba(255, 255, 255, .8); }
      50%{ left: 0px; background-color: rgba(255, 255, 255, .1);}
      100%{ left:-25px; background-color: rgba(255, 255, 255, .8); }
  }
  @keyframes loadingLeft{
      0%{ left: -25px; background-color: rgba(255, 255, 255, .8); }
      50%{ left: 0px; background-color: rgba(255, 255, 255, .1);}
      100%{ left:-25px; background-color: rgba(255, 255, 255, .8); }
  }


  @-webkit-keyframes loadingRight{
      0%{ left: 25px; background-color: rgba(255, 255, 255, .8); }
      50%{ left: 0px; background-color: rgba(255, 255, 255, .1);}
      100%{ left:25px; background-color: rgba(255, 255, 255, .8); }
  }
  @keyframes loadingRight{
      0%{ left: 25px; background-color: rgba(255, 255, 255, .8); }
      50%{ left: 0px; background-color: rgba(255, 255, 255, .1);}
      100%{ left:25px; background-color: rgba(255, 255, 255, .8); }
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $main-color;
  color: #fff;
  height: $HEADER_HEIGHT * 1px;
  font-size: 1.3em;
  padding: 0 20px;

  button {
    color: inherit;
  }
}

.container {
  display: flex;
  width: 100%;
  height: calc(100% - 40px);
  padding: 10px;
}

.column {
  min-width: 350px;
  width: 100% / $COLUMN_LENGTH;
  max-width: 400px;
  height: 100%;
  border: 1px solid $color-middle-blue-purple-opacity;
  border-radius: 5px;
  background: $color-rich-lavender-opacity;
  margin-right: 10px;
  padding: 0 10px 10px;
  overflow: auto;

  .column-top {
    width: 100%;
    min-height: 35px;

    .column-title {
      display: flex;
      position: relative;
      width: 100%;
      height: 35px;
      align-items: center;
      justify-content: space-between;
      font-weight: bold;

      .card-length {
        display: inline-block;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        border-radius: 50%;
        margin-right: 5px;
        background: hsl(220,3,82);
      }
    }

    .column-note {
      display: none;
      width: 100%;
      margin-top: 10px;

      textarea {
        width: 100%;
        border: 0;
        min-height: 40px;
      }
      .btn-wrap {
        display: flex;
        margin-top: 10px;

        button {
          width: 49%;
          height: 35px;
          font-weight: bold;
          border-radius: 3px;

          &.add-btn {
            margin-right: 2%;
            background: $add-button-color;
            border: 1px solid #6b62cf;
            color: #fff
          }

          &.cancel-btn {
            background: $cancel-button-color;
            border: 1px solid #ccc;
          }

          &.disable {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

.card {
  position: relative;
  width: 100%;
  min-height: 50px;
  background: #fff;
  border-radius: 3px;
  margin-top: 10px;
  padding: 10px 10px 10px 35px;
  cursor: move;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */

  &.dragging {
    opacity: 0.5;
  }

  * {
    cursor: move;
  }

  .comment {
    font-size: 1.01em;
    line-height: 1.1;
    padding: 0 0 10px;
    cursor: auto;
  }

  .user-name {
    display: block;
    margin-top: 10px;
    color: #999;

    a {
      color: #000;
      cursor: pointer;
    }
  }

  &::after {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 15px;
    height: 15px;
    background: url('../assets/images/note.png') no-repeat;
    background-size: 15px auto;
    content: "";
  }
}

.content-add-btn {
  right: 0;
  transform: rotate(45deg);

  &:hover {
    &::before, &::after {
      background: $main-color;
    }
  }
}

.card .delete-btn, .content-add-btn, .modal .edit .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 10px;
  height: 10px;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    transform: rotate(45deg);
    background: #000;
    content: "";
  }

  &::after {
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    transform: rotate(-45deg);
    background: #000;
    content: "";
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &::after {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 400px;
    z-index: 11;
    position: relative;
    background: $color-medium-purple;
    color: #fff;
    padding: 20px 40px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
    min-height:150px;

    > div {
      width: 100%;
    }
  }

  .confirm {
    div {
      font-size: 1.3em;
    }

    .yes-btn {
      width: 48%;
      padding: 10px;
      border-radius: 4px;
      margin-right: 2%;
      background: #10375c;
      color: #fff;
    }

    .no-btn {
      width: 48%;
      padding: 10px;
      background: #fff;
      border-radius: 4px;
    }
  }

  .edit {
    min-width: 500px;
    padding: 0;

    h5 {
      width: 100%;
      height: 50px;
      line-height: 50px;
      // border-bottom: 1px solid #999;
      text-align: left;
      padding-left: 20px;
      background-color: #eee;
      color: #000;
      font-weight: bold;
    }

    > div {
      margin: 20px 20px;
      text-align: left;

      strong {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
      }

      textarea {
        width: 100%;
        height: 150px;
      }

      button {
        margin-top: 10px;
        padding: 10px;
        background: #10375c;
        color: #fff;
        border-radius: 3px;
      }
    }

    .close-btn {
      width: 20px;
      background: none;
      margin-top: 0;
      top: 20px;
    }
  }

  .close-btn {
    width: 100%;
    padding: 5px;
    background: lavender;
    margin-top: 20px;
  }
}

.card.dragging {
  position: absolute;
  z-index: 1000;
  width: 183px;
}

.card.drag-target {
  opacity: 0.3;
}